@import "../_bower_components/normalize-css/normalize";

body {
  font-family: Helvetica;
  // background: #444;
  // background-image: url('/images/bg.jpg');
  // background-position: top center;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 16px;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
}
