@import "../_bower_components/normalize-css/normalize";

body {
  font-family: Helvetica;
  background-color: #fdd04f;
  // background: #444;
  // background-image: url('/images/bg.jpg');
  // background-position: top center;
}

.logo {
  display: block;
  margin-bottom: 64px;
  width: 100%;
}

.container {
  margin: 32px auto 0;
  max-width: 800px;
  padding: 0 16px;
  // background-image: url('/images/vrmanchester_logo.jpeg');
  // background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
}
